<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our database community</h1>
    <br>
    <hr>
    <br>
    <form action="/user" method="post">
        <textarea name="username" id="" cols="30" rows="1" placeholder="Enter username"></textarea>
        <br>
        <br>
        <textarea name="email" id="" cols="30" rows="1" placeholder="Enter Email"></textarea>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <input type="password" name="password" id="" placeholder="Enter password">
        <button>Submit</button>
    </form>
</body>
</html>